page-wounds-list {


    .compositionsStyle{
        color:black;
        text-align: left;
        font-size: 20px;
        background-color: white;
       

    }

    .compositionsStyleDATE{
        color:black;
        text-align: left;
        font-size: 16px;
        background-color: white;
       

    }


    .compositionsStyleID{
        color:black;
        text-align: left;
        font-size: 10px;
        background-color: white;
       

    }


}
